<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Карта</ion-title>
    <ion-buttons end>
      <button ion-button (click)="addMarker()"><ion-icon name="add"></ion-icon>Add Marker</button>
    </ion-buttons>  
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3>Карта местности</h3>
  <!-- <h4>Широта: {{this.locationTracker.lat}}</h4>
   <h4>Долгота: {{this.locationTracker.lng}}</h4>
   -->
  <div #map id="map"></div> 
</ion-content>
