<ion-menu [content]="content">
  <ion-header>
      <ion-toolbar>
      <ion-title>Меню</ion-title>
    </ion-toolbar>
    </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-footer *ngIf="showfooter">
  <ion-toolbar>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-label >{{user?.username}}</ion-label>
   </ion-toolbar>
</ion-footer>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
 





