<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Настройки</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3>Настройки</h3>
 <ion-item>
    <ion-label>Background Mode</ion-label>
    <ion-toggle [(ngModel)]="isBackGrounded" (ionChange)="notify()"></ion-toggle>
  </ion-item>


</ion-content>

