<ion-header>
  <ion-navbar color="dark">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title>
      Аварийные заявки
    </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding  >
 <ion-searchbar (input)="search($event)"></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let item of alarmss" (click)="goToDetails(item)">
       <h2>{{ item.listall }}</h2>
        <ng-template [ngIf]="item.buttoncolor==='red'" item-right>
         <ion-icon  style="color:#FF0000" name="arrow-round-forward" item-right></ion-icon>
         </ng-template>
         <ng-template [ngIf]="item.buttoncolor==='green'" item-right>
         <ion-icon  style="color:#48DD00" name="arrow-round-forward" item-right></ion-icon>
         </ng-template>
         <ng-template [ngIf]="item.buttoncolor==='orange'" item-right>
         <ion-icon  style="color:#FFAA00" name="arrow-round-forward" item-right></ion-icon>
         </ng-template>
  </button>
  </ion-list>
</ion-content>

