<ion-header>
  <ion-navbar>
    <ion-title>Детали заявки № {{item.id}} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <ion-list>
    <ion-item>
      <ion-label>Время</ion-label>
      <ion-badge item-right>{{item.date_receive}}</ion-badge>
    </ion-item>
     <ion-item>
      <ion-label>Адрес</ion-label>
      <ion-badge item-right>{{item.contractaddress}}</ion-badge>
    </ion-item>
     <ion-item>
      <ion-label>Объект</ion-label>
      <ion-badge item-right>{{item.liftaddress}}</ion-badge>
    </ion-item>
     <ion-item>
      <ion-label>Механик</ion-label>
      <ion-badge item-right>{{item.userusername}}</ion-badge>
    </ion-item>
      <ion-item>
      <ion-label>Проблема</ion-label>
      <ion-badge item-right>{{item.description}}</ion-badge>
    </ion-item>
 
  
  <ng-template [ngIf]="item.buttoncolor==='red'" item-right>
          <button ion-button block color="secondary" icon-right (click)="startwork()">Принять заявку
           <ion-icon name="walk"></ion-icon> 
          </button>
  </ng-template>
         <ng-template [ngIf]="item.buttoncolor==='green'" item-right>
          <button ion-button block primary (click)="addReport()">Изменить отчет
           <ion-icon name="hammer"></ion-icon>
          </button>
         </ng-template>
          <ion-list>
      </ion-list>
           <h3 >Фотогалерея ( {{Containers.length}} фото )</h3>
           <ion-slides #mySlider  style="max-height:400px" pager="true" >
            <ion-slide *ngFor="let files of Containers" >
              <img src="{{urlpath}}/containers/{{item.id}}/download/{{files.name}}" slide-lazy>
            </ion-slide>
            </ion-slides>
          <ng-template [ngIf]="item.buttoncolor==='orange'" item-right>
         <button ion-button block primary (click)="addReport()">Сделать отчет по вызову
           <ion-icon name="hammer"></ion-icon>
         </button>
         </ng-template>
         <h6>Мои координаты</h6>
         <h6>Широта: {{this.locationTracker.lat}}</h6>
         <h6>Долгота: {{this.locationTracker.lng}}</h6>
    
   <ion-item>
      <ion-label></ion-label>
    </ion-item>
  </ion-list>    
</ion-content>
