<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title>
      Плановые работы
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding >
 <h3>Плановые работы</h3>
</ion-content>

