<ion-header>
  <ion-navbar color="weatherbru">
    <ion-title>Отчет по работе</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="CloseModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
       <form  [formGroup]="myForma2">
        <ion-item>
            <ion-label>Время начала работ</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm"   [ngModel]="datetimepicker_rep"
            formControlName="datetimepicker_rep" >
            </ion-datetime>
        </ion-item>
          <ion-item>
            <ion-label>Время завершения работ</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm"  [ngModel]="datetimepicker_rep1"
             formControlName="datetimepicker_rep1" ></ion-datetime>
        </ion-item>
         <ion-item>
            <ion-label stacked>Условия по прибытию</ion-label>
            <ion-select [ngModel]="if_arrival" formControlName="if_arrival"  >
                <ion-option *ngFor="let usl of IfArrival" value="{{usl.id}}">{{usl.usl}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label stacked>Причина аварийного вызова</ion-label>
            <ion-select [ngModel]="causess" formControlName="causess" >
                <ion-option *ngFor="let usl of Causes" value="{{usl.id}}">{{usl.usl}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
        <ion-label stacked>Принятые меры</ion-label>
          <ion-select [ngModel]="resolves" formControlName="resolves" >
            <ion-option *ngFor="let usl of Resolves" value="{{usl.id}}">{{usl.usl}}</ion-option>
          </ion-select>
       </ion-item>
       <ion-item>
            <ion-label stacked>Условия по завершению</ion-label>
            <ion-select [ngModel]="iffinish" formControlName="iffinish" >
             <ion-option *ngFor="let usl of IfFinish" value="{{usl.id}}">{{usl.usl}}</ion-option>
            </ion-select>
        </ion-item>
    
         <img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null">
          <h3 [hidden]="lastImage !== null">Загрузить новое фото!</h3>
          <ion-buttons>
              <button ion-button icon-left (click)="presentActionSheet()">
                  <ion-icon name="camera"></ion-icon>Выбрать фото
              </button>
              <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
                  <ion-icon name="cloud-upload"></ion-icon>Загрузить
              </button>
          </ion-buttons>
          <h3 >Фотогалерея ( {{Containers.length}} фото )</h3>
          <ion-slides #mySlider  style="max-height:400px" pager="true" >
            <ion-slide *ngFor="let files of Containers" >
              <img src="{{url}}/download/{{files.name}}" slide-lazy>
            </ion-slide>
            </ion-slides>
            <button ion-button block primary (click)="removePhoto()">удалить фото
           <ion-icon name="hammer"></ion-icon>
          </button>
           {{realIndex}} 
        <button ion-button block (click)="saveReport()">Сохранить отчет</button>
        
    </form>
                                      

<div padding>
</div>
</ion-content>
