<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Справочники</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3>Справочники</h3>

</ion-content>

