<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Детали сообщения
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content class="details" padding>
  
  <button ion-button full primary >Детали сообщения</button>

  <h6>{{pushMessage}}</h6>
  
</ion-content>
